In [1]:
from pathlib import Path
import sys

# notebooks/ から見てプロジェクトルートを追加
ROOT = Path.cwd().resolve().parents[0]  # notebooks の1つ上 = ~/work/keiba-ai
sys.path.append(str(ROOT))

In [2]:
from src.data.loaders.result_loader import load_results
from src.data.loaders.horse_loader import load_horse_results
from src.data.loaders.race_info_loader import load_race_info

df_result = load_results("../data/rawdf/result/result_*.csv")
df_horse = load_horse_results("../data/rawdf/horse/*.csv")
df_race_info = load_race_info("../data/rawdf/race_info/*.csv")

/home/naga2/work/keiba-ai/src/data/loaders/horse_loader.py:13: DtypeWarning: Columns (0: 着順) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv(p, sep=",")

In [3]:
df_horse.head()

,horse_id,date,rank,prize,rank_diff,time_sec,passing_first,passing_avg,passing_last,up3f,weather,race_type,course_len,ground_state,race_class,n_horses,place
0,2010101667,2012-11-11,5,70.0,0.5,99.0,4.0,4.000000,4.0,34.0,1.0,0.0,1600,0.0,-2.0,11.0,4.0
1,2010101667,2012-11-25,2,200.0,0.1,122.8,3.0,3.000000,3.0,34.3,0.0,0.0,2000,0.0,-3.0,16.0,4.0
2,2010101667,2012-12-22,1,500.0,0.0,98.1,3.0,3.666667,4.0,37.2,2.0,0.0,1600,0.0,-3.0,16.0,5.0
3,2010101667,2013-01-27,5,70.0,0.6,108.5,5.0,5.000000,4.0,33.9,0.0,0.0,1800,0.0,-1.0,11.0,4.0
4,2010101667,2013-02-16,2,388.4,0.2,120.9,1.0,1.000000,1.0,34.7,0.0,0.0,2000,0.0,-1.0,12.0,4.0

In [4]:
from src.data.pipelines.build_train_table import build_train_table

df_train = build_train_table(df_result, df_race_info, df_horse)
df_train

MergeError: Merge keys are not unique in right dataset; not a many-to-one merge

Duplicates in right:
      race_id
202101010101
202101010101
202101010101
202101010102
202101010102 ...

In [4]:
import pandas as pd
import numpy as np

df = df_train.copy()
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 235838 entries, 0 to 235837
Data columns (total 24 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   race_id         235838 non-null  int64
 1   horse_id        235838 non-null  int64
 2   race_date       235838 non-null  datetime64[us]
 3   place           235838 non-null  int64
 4   race_type       235838 non-null  int64
 5   around          229062 non-null  float64
 6   course_len      235838 non-null  int64
 7   weather         235838 non-null  int64
 8   ground_state    235838 non-null  int64
 9   race_class      235838 non-null  float64
 10  wakuban         235838 non-null  Int64
 11  umaban          235838 non-null  Int64
 12  sex             235838 non-null  int64
 13  age             235838 non-null  Int64
 14  impost          235838 non-null  float64
 15  weight          235838 non-null  int64
 16  weight_diff     235838 non-null  int64
 17  jockey_id       235838 non-null  int64
 18  trainer_id      235838 non-null  int64
 19  owner_id        235838 non-null  object
 20  popularity      235838 non-null  Int64
 21  tansho_odds     235838 non-null  float64
 22  hr_rank_mean_3  212213 non-null  float64
 23  rank            235838 non-null  int64
dtypes: Int64(4), datetime64[us](1), float64(5), int64(13), object(1)
memory usage: 44.1+ MB

In [5]:
df.columns

Index(['race_id', 'horse_id', 'race_date', 'place', 'race_type', 'around',
       'course_len', 'weather', 'ground_state', 'race_class', 'wakuban',
       'umaban', 'sex', 'age', 'impost', 'weight', 'weight_diff', 'jockey_id',
       'trainer_id', 'owner_id', 'popularity', 'tansho_odds', 'hr_rank_mean_3',
       'rank'],
      dtype='str')

In [6]:
df.dtypes

race_id                    int64
horse_id                   int64
race_date         datetime64[us]
place                      int64
race_type                  int64
around                   float64
course_len                 int64
weather                    int64
ground_state               int64
race_class               float64
wakuban                    Int64
umaban                     Int64
sex                        int64
age                        Int64
impost                   float64
weight                     int64
weight_diff                int64
jockey_id                  int64
trainer_id                 int64
owner_id                  object
popularity                 Int64
tansho_odds              float64
hr_rank_mean_3           float64
rank                       int64
dtype: object

In [7]:
dup = df.duplicated(["race_id", "horse_id"], keep=False)
dup.sum(), df.loc[dup, ["race_id","horse_id"]].head(20)

(np.int64(0),
 Empty DataFrame
 Columns: [race_id, horse_id]
 Index: [])

In [8]:
g = df.groupby("race_id", sort=False)

qc = pd.DataFrame({
    "n_horses": g.size(),
    "race_date_nunique": g["race_date"].nunique(),
    "place_nunique": g["place"].nunique(),
    "race_type_nunique": g["race_type"].nunique(),
    "course_len_nunique": g["course_len"].nunique(),
    "ground_state_nunique": g["ground_state"].nunique(),
    "weather_nunique": g["weather"].nunique(),
    "around_nunique": g["around"].nunique(dropna=False),  # 欠損含めて確認
    "umaban_min": g["umaban"].min(),
    "umaban_max": g["umaban"].max(),
    "rank_min": g["rank"].min(),
    "rank_max": g["rank"].max(),
})

# 異常フラグ
qc["umaban_out_of_range"] = (qc["umaban_min"] < 1) | (qc["umaban_max"] > qc["n_horses"])
qc["rank_out_of_range"] = (qc["rank_min"] < 1) | (qc["rank_max"] > qc["n_horses"])

qc.sort_values(
    ["race_date_nunique","place_nunique","race_type_nunique","course_len_nunique",
     "ground_state_nunique","weather_nunique","umaban_out_of_range","rank_out_of_range","n_horses"],
    ascending=False
).head(50)

,n_horses,race_date_nunique,place_nunique,race_type_nunique,course_len_nunique,ground_state_nunique,weather_nunique,around_nunique,umaban_min,umaban_max,rank_min,rank_max,umaban_out_of_range,rank_out_of_range
race_id,,,,,,,,,,,,,,
202304040405,14,1,1,1,1,1,1,1,1,15,1,15,True,True
202207011105,12,1,1,1,1,1,1,1,1,13,1,13,True,True
202104030206,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202104030302,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202104030406,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202104040211,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202104040305,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202104050112,17,1,1,1,1,1,1,1,2,18,1,17,True,False
202104050202,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202105020202,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202105020304,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202105020611,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202107030410,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202107030711,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202107030810,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202107050903,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202109050504,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202109060711,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202110010110,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202110010702,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202110010806,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202110020701,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202110030509,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202110040209,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202110040703,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202204020111,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202204020307,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202204030106,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202204030203,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202204030802,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202204030806,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202204040505,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202204040507,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202205021011,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202205030304,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202205050606,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202205050702,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202205050705,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202206020705,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202207060404,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202209010311,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202209020803,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202209021211,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202209030306,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202209030411,17,1,1,1,1,1,1,1,2,18,1,17,True,False
202210010806,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202210020412,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202210030105,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202304020107,17,1,1,1,1,1,1,1,1,18,1,17,True,False
202304030506,17,1,1,1,1,1,1,1,1,18,1,17,True,False